@import "scss/common.scss";

@font-face {
  font-family: "Windows-Regular";
  src: url("../styles/font/Windows-Regular.woff");
}

* {
  font-family: "Windows-Regular";
  letter-spacing: 2px; 
}
body {
  background-color: $mainBakLightGrey;
}

.app {
  @include borders(white, #999);
  background-color: $mainAppGrey;
  padding: 16px;
}

.title {
  text-align: center;
}

.gameState {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 3px;
  background-color: $mainGreen;
  color: white;
}

.header {
  @include borders($borderDark, $white);
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  @include borders($borderDark, $white);
  margin-top: 16px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.face {
  @include borders;
  @include buttons;
  width: 52px;
  height: 52px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
