@import "styles/common.scss";

.app {
  @include borders(white, #999);
  background-color: #c2c2c2;
  padding: 16px;
}

.title{
  text-align:center;
}

.header {
  @include borders(#7b7b7b, white);
  background-color: #c0c0c0;
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  @include borders(#7b7b7b, white);
  margin-top: 16px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.face {
  @include borders;
  @include buttons;
  width: 52px;
  height: 52px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
