@import "scss/common.scss";

.home {
  text-align: center;
}

.startBtn {
  padding: 10px 20px;
  border-radius: 3px;
  margin: 0 auto;
  border: none;
  background-color: $mainGreen;
  cursor: pointer;
  box-shadow: 0px 5px 5px $shadow;
}

.startBtn:hover {
  transform: scale(0.95);
}
